*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: small;
}
#root{
    width: 96%;
    margin: auto;
    border: 1px solid #ccc;
}
#header{
    display: flex;
    font-size:smaller;
    border-bottom: 1px solid #ccc;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 0px 3%;
    box-sizing: border-box;
    color: gray;
    margin-bottom: 10px;

}
#header div{
    font-size: 12px;
}
.bgImg{
    width: 40%;
    padding: 5px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-image: url("https://upic.gov.in/images/flag.jpg"); 
    background-size: cover;
}
#headerRight{
    color: gray;

}

#headerBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#bannerLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#header a{
    text-decoration: none;
    color: gray;
    font-size: 12px;

}
#header a:hover{
    text-decoration: underline;
}
#navBar a{
    text-decoration: none;
    color: black;
}
#searchBar{
    font-size: 11px;

}
#bt1{
    background-color: rgb(241, 241, 6);
    padding-left: 5px;
    padding-right: 5px;
}
#bt1:hover{
    background-color: #E6E6E6;
}
#bt2{
    background-color: #2192CA;
    padding-left: 10px;
    padding-right: 10px;
    color: white;    
}
#bt2:hover{
    background-color: #5CBC42;
}
#span{
    color: #115d82;
    font-size: xx-large;
    font-weight: lighter;
    text-align: left;
}
#navBar{
    background-color: #1B76A3;
    display: flex;
    padding: 20px;
    justify-content:left;
    align-items: center;
    gap: 30px;
}
#navBar li {
    list-style-type: none;

}
#navBar a{
    color: white;

}
#Gallery{
    background-color: #1B76A3;
    color: white;
    border: none;
    width: 70px;
}
#main{
    display: flex;
    margin: 5px;
}
#leftSide{
    width: 12%;
    height:100%;
    background-color: #DBF0FB;
    line-height: 30px;
    padding: 25px;
    border: 1px solid #3a8bb4;

}
#leftSide div li{
    border-bottom: 1px dotted gray;
}

#leftSide li a{
    color: black;
    text-decoration: none;
}
#leftSide li a:hover{
    color: #2192CA;
}
#leftSide div  a {
    color: black;
    text-decoration: none;

}
#border{
    border-top:5px solid #115d82;

}
#span1{
    font-size: 15px;
    font-weight: bold;
    display: inline;
    text-align: left;
    /* background-color: #CAE8F8; */
}
/* #border p{
    background-color: #ECF7FD;
    border: 2px dotted gray;
} */
#midSection{
    width: 70%;
    height:1200px;
    margin-left: 5px;
}
.borderLine{
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
#scroll{
    width: 100%;
}
#clickHere{
    text-align: center;
    background-color: #EBEBEB;
    padding: 10px;
    border-top: 5px solid #1376cd;
}
#clickHere h2 a{
    color: black;
    font-size:medium;

}
.textImg{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #EBEBEB;
    padding: 3px;
    gap: 5px;
}
.textImg h1 a{
    text-decoration-line: none;
}

.textImg h2 a{
    text-decoration-line: none;
}
.textImg h1 a:hover{
    text-decoration-line: underline;
}


.textImg h2 a:hover{
    text-decoration-line: underline;
}
.size a{
    font-size: 1.9rem;
    color: black;   
}
.newLogo img{
    text-align:center;
}
#container{
    background-image: url("https://upic.gov.in/images/up.gif");

}
#scicHead{
    text-align: center;
    padding: 10px;

}
#sciHead h6:hover{
    text-decoration: underline;
}
#scicHead h6 a{
    text-decoration: none;
    color: black;
    color: gray;

}
#sicDetails{
    margin: 15px;
    padding: 50px;

}
#sic{
    text-align: center;
    padding: 10px;
}
#scicHead img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#sicTen{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content:space-around;
    align-content: center;
    /* object-fit: cover; */

}
#sicTen div{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    text-align: center;
}
#sicTen div img{
    border-radius: 50%;
}
#sicTen div:hover{
    text-decoration: underline;
}
#sicTen div p a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 12px;

}
#impUpic{
    width: 100%;
    border-top: 5px solid #1376cd;
    background-color: #E4E4E4;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;

}
.notification_Control{
    height: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 5px;
}
.notification_Control div{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    text-align: center;
}

.notification {
    max-width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    overflow:hidden;
    height: 200px; 
    position: relative;
    /* border:1px solid #ddd; */

}
h2 {
    text-align: center;
}
.scroll-wrapper {
    height: 225px;
    overflow: hidden;
    position: relative;
    animation: scrollUp 5s linear infinite;
}
.scroll-content {
    display: flex;
    flex-direction: column;
    animation: scrollUp 10s linear infinite;
}
.notice {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.notice:last-child {
    border-bottom: none;
}
.date {
    color: gray;
    font-size: 14px;
}
.download {
    color: blue;
    text-decoration: none;
}
@keyframes scrollUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}

#rightSide{
    width: 18%;
    padding: 2px;
    line-height: 30px;
}
.blue{
    color: white;
    background-color: #115d82;
    margin: 0px 0px 6px 6px;
    padding: 6px 20px;

}
.blue:hover{
    color: black;
    background-color: rgb(235, 227, 13);

}

.green{
    color: white;
    background-color: green;
    margin: 0px 0px 6px 6px;
    padding: 6px 20px;



}
.green:hover{
    color: white;
    background-color: rgb(235, 227, 13);


}
#img1 img, #img2 img{
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
}

#govtLink{
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
}
#footer{
    display: flex;
    height: 150px;
    color: white;
    background-color: #07457C;
    background-image: url("https://upic.gov.in/images/bg1.gif");
    padding: 20px;
    justify-content: space-around;
    line-height: 30px;
    font-size: 4px;

}


